body {
    background-color: rgb(9, 46, 77);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color:tan;
    text-align: center;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
} /* condensed to save space */
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: steelblue; /* pick a color */
    border-radius: 25%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid tan; /* choose a color */
    display: block;
    margin: auto;
}
a { /* change the appearance of ALL links */
    text-decoration: none;
    color: tan;
    }
    .project p { /* change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px;
    }
.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
    }
.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
h2{
    color:tan;
}